{{template "layout" .}}
{{define "content"}}
    <h1>{{.DirInfo.Path}}</h1>
    <table>
        <tbody>
            {{range .Files}}
                <tr>
                    <td>
                        <span>{{if .IsDir}}📁{{else}}&nbsp;&nbsp;{{end}}</span>
                        <span><a href="/{{.Path}}/{{.Name}}">{{.Name}}</a></span>
                    </td>
                    <td>{{.Size}}</td>
                    <td>{{.Mode}}</td>
                    <td>{{.ModTime}}</td>
                </tr>
            {{end}}
        </tbody>
    </table>
{{end}}
