{{define "layout"}}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Restatic</title>
        <style>
            body {
                font-family: monospace;
                background-color: #0a0a0a;
                color: #eee;
                font-size: 1.4em;
                line-height: 1.3em;
            }
            a, a:active, a:visited {
                color: #55ff55;
            }
            td {
                padding: 0.2em 1em;
            }
        </style>
    </head>
    <body>
        {{block "content" .}}{{end}}
    </body>
</html>
{{end}}
